div(class='col col-md-4')
    div(class='card p-5 d-flex flex-column align-items-center')
        a(href='goods?id=' + val['id'])
            img(class='card-img-top', src='img/' + val['image'], alt=val['name'])
            div(class='card-body text-center')
                h5(class='card-title text-center') #{val['name']}
                p(class="card-text") #{val['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} uah
            a(class="btn btn-primary text-white" data-goods_id=val['id'] href="#") to cart