include header
include nav

header(class='cat_header')
    include cat_header
.wrapper
    .container
        h2 #{cat[0]['category']}
            div.row
                each val,idx in goods   
                    include card 

include footer